* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #03142b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 50px;
  border-bottom: 1px solid rgba(0, 255, 255, 0.23);
  font-family: "Orbitron", sans-serif;
}
.menu a {
  font-family: sans-serif;
  position: relative;
  left: 450px;
  color: #00eaff;
  text-decoration: none;
  font-size: 20px;
  padding: 7px 18px;
  border-radius: 8px;
  transition: 0.3s;
  gap: 5px;
}

.menu a:hover {
  background: linear-gradient(45deg, #00bfff, #007bff);
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 45px;
  height: 50px;
  position: relative;
  left: 70px;
}

.logo span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  position: relative;
  left: 30px;
}

.logo span .cosmos {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  color: #00eaff;
}

.logo span .tech {
  font-weight: 300;
  color: #ffffff;
}
.dashboard {
    background-color: #03142b;
    color: #e8f9ff;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.dashboard-container {
  background-size: cover;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top-user {
    background: #0b1624;
    padding: 30px;
    border-radius: 18px;
    border:1px solid rgba(0,234,255,0.15);
    box-shadow: 0 0 15px rgba(0, 234, 255, 0.05);
}
.user-info h2 {
    color: #7ee9ff;
    font-size: 28px;
    margin-bottom: 5px;
}

.user-info p {
    color: #9fd8ff;
}

.kpis {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.kpi-card {
    flex: 1;
    min-width: 150px;
    background: #07101c;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #00bfff44;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 191, 255, 0.05);
    transition: transform 0.2s;
}

.kpi-card:hover {
    transform: translateY(-4px);
}

.kpi-card h4 {
    color: #00d0ff;
    margin-bottom: 8px;
}

.kpi-card p {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.grafico-box {
    padding: 20px;
    border-radius: 18px;
    border:1px solid rgba(0,234,255,0.15);
    box-shadow: 0 0 15px rgba(0, 234, 255, 0.05);
}

.grafico-box h3 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    font-size: 26px;
}

.estiloGrafico {
    background: #07101c;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #00bfff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graficoQuiz {
    width: 100%;
    max-width: 900px;
    height: 300px;
}
.graficos-lado {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    width: 100%;
}

.grafico-item {
    width: 50%;
}

.grafico-item .estiloGrafico {
    height: 320px;  
}