* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #03142b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 50px;
  border-bottom: 1px solid rgba(0, 255, 255, 0.23);
  font-family: "Orbitron", sans-serif;
}
.menu a {
  font-family: sans-serif;
  position: relative;
  left: 450px;
  color: #00eaff;
  text-decoration: none;
  font-size: 20px;
  padding: 7px 18px;
  border-radius: 8px;
  transition: 0.3s;
  gap: 5px;
}

.menu a:hover {
  background: linear-gradient(45deg, #00bfff, #007bff);
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 45px;
  height: 50px;
  position: relative;
  left: 70px;
}

.logo span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  position: relative;
  left: 30px;
}

.logo span .cosmos {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  color: #00eaff;
}

.logo span .tech {
  font-weight: 300;
  color: #ffffff;
}
.dashboard {
  background: #020b18;
  color: white;
  padding-bottom: 60px;
}